$theme-colors: (
  "primary": #ec6532,
  "secondary": #523d64,
  "back": #ffffff,
);

/* @import "~bootstrap/scss/bootstrap.scss"; */

$primary: #0c2a62;
$secondary: #28a745;
$back: #ffffff;
$light: #ffffff;
